<div class="jumbotron" id="about">
    <h1>{{header}}</h1>
    <p class="lead">
        {{content}}
    </p>
</div>


<script>
        new Vue({
            el: '#about',
            data: {
                header: "SWProject",
                content: "Esse é um protótipo para a funcionalidade de Promoções que futuramente será incorporada na solução SWProject.",
            },
        })
</script>
